In [3]:
import pandas as pd
import numpy as np
import string
from numpy.random import randn

Series is a single column of data

In [3]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
alphalist = list(string.ascii_uppercase)
alphalist

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [11]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [13]:
serie1 = pd.Series(data=data1,index = index1)
serie1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [14]:
dico = {k:v for k,v in zip(index1,data1)}
serie2 = pd.Series(dico)

In [15]:
serie2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [16]:
dico

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [4]:
df = pd.DataFrame(np.random.randn(5,5),index='A/B/C/D/E'.split('/'), columns = 'V/W/X/Y/Z'.split('/'))
df

          V         W         X         Y         Z
A -0.671493 -0.199661 -1.312674 -0.077299  1.614015
B  0.809815 -1.353039 -0.372181 -0.211333  0.506562
C -2.748606 -2.016295  0.775390 -0.152694  1.809286
D -0.010360  0.242060  1.309049 -1.869699  0.471996
E  0.885625 -1.500652 -0.994465 -0.818887 -0.277124

In [39]:
v = df[['V']]
v

          V
A -0.124197
B  1.370786
C  0.485294
D  0.684924
E  2.289373

In [41]:
df[['V','X']]

          V         X
A -0.124197 -1.049129
B  1.370786 -1.774523
C  0.485294 -0.258194
D  0.684924  0.668661
E  2.289373 -1.196883

In [42]:
# selecting columns
df[['W',"Y"]]

          W         Y
A  1.118212  0.424240
B -0.732850 -0.750968
C -1.460745 -1.125509
D  0.411724  0.437163
E  0.738464  0.635990

In [46]:
# selecting row
df.iloc[0:4]

          V         W         X         Y         Z
A -0.124197  1.118212 -1.049129  0.424240 -0.570850
B  1.370786 -0.732850 -1.774523 -0.750968 -0.393541
C  0.485294 -1.460745 -0.258194 -1.125509  0.720411
D  0.684924  0.411724  0.668661  0.437163  0.203175

In [47]:
df.iloc[0]

V   -0.124197
W    1.118212
X   -1.049129
Y    0.424240
Z   -0.570850
Name: A, dtype: float64

In [48]:
df.iloc['V']

TypeError: Cannot index by location index with a non-integer key

In [49]:
df.loc['V']

KeyError: 'V'

In [50]:
df.loc['B']['V']

1.3707856366619076

In [54]:
# use loc for the name of the row
# use iloc for the index of the row
df[['W']]>0

       W
A   True
B  False
C  False
D   True
E   True

In [53]:
df>0

       V      W      X      Y      Z
A  False   True  False   True  False
B   True  False  False  False  False
C   True  False  False  False   True
D   True   True   True   True   True
E   True   True  False   True  False

In [1]:
# adding new column to df
df['U'] = df['V']+df['Z']

NameError: name 'df' is not defined

In [5]:
df

          V         W         X         Y         Z
A -0.671493 -0.199661 -1.312674 -0.077299  1.614015
B  0.809815 -1.353039 -0.372181 -0.211333  0.506562
C -2.748606 -2.016295  0.775390 -0.152694  1.809286
D -0.010360  0.242060  1.309049 -1.869699  0.471996
E  0.885625 -1.500652 -0.994465 -0.818887 -0.277124

In [61]:
df[df['U']>df['V']]

          V         W         X         Y         Z         U
C  0.485294 -1.460745 -0.258194 -1.125509  0.720411  1.205704
D  0.684924  0.411724  0.668661  0.437163  0.203175  0.888099

In [6]:
df.iloc([4][2])

IndexError: list index out of range

In [10]:
df.iloc[3][1]

0.242059715946616

In [12]:
df.iloc[3][2]

1.3090489600502984

In [14]:
df.iloc[3,1:3]

W    0.242060
X    1.309049
Name: D, dtype: float64

In [15]:
df.tail(2)

          V         W         X         Y         Z
D -0.010360  0.242060  1.309049 -1.869699  0.471996
E  0.885625 -1.500652 -0.994465 -0.818887 -0.277124

concatenate data frames

In [18]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],
                   'C':['C0','C1','C2','C3'],
                   'D':['D0','D1','D2','D3']},index=[0,1,2,3])

In [20]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
                    'B':['B4','B5','B6','B7'],
                   'C':['C4','C5','C6','C7'],
                   'D':['D4','D5','D6','D7']},index=[0,1,2,3])

In [21]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [22]:
pd.concat([df1,df2],axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [ ]:
merge